.language-panel-red {
    background: rgba(255, 0, 0, 0.5);
  }
  
  .language-panel-green {
    background: rgba(0, 255, 0, 0.5);
  }
  
  .language-panel-blue {
    background: rgba(0, 0, 255, 0.5);
  }